body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem;
    background-color: rgb(22, 8, 8);
    border-radius: 4px;
    border-style: ridge;
    border-width: 1px;
}
.section {
    display: flex;
    flex-direction: row;
    height: 30rem;
}
.head {
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.name {
    font-size: xx-large;
}
.side1 {
    padding: 25px;
    background-color: aliceblue;
    color: rgb(5, 5, 70);
}
.side2{
    background-color: rgb(2, 2, 44);
    color: aliceblue;
    padding: 17px;
    height: 28rem;
    display: flex;
    flex-direction: row;
}
.img {
    border-radius: 50%;
}
.button {
    background-color: rgb(185, 42, 42);
    padding: 5px;
    border-radius: 5px;
}
.information {
    padding: 1rem;
}